// Colors theme
$background-color: #031424;
$font-color: #FFFFFF;
$primary: #CF6766;
$secondary: #30415D;
$triary: #8EAEBD;
$font: 'Lucida Console';


$modal-color: rgba(0, 0, 0, 4);
$modal-background: #FFFFFF;

$error: #ff0000;

// Size
